OPENSEARCH_PASSWORD=your_strong_opensearch_password
OTEL_CLUSTER_NAME=narumir
OPENSEARCH_DASHBOARDS_USERNAME=kibanaserver
OPENSEARCH_DASHBOARDS_PASSWORD=kibanaserver
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_strong_postgres_password
POSTGRES_DB=your_database_name
REDIS_PASSWORD=your_strong_redis_password
